[submodule "external/cuda_benchmark"]
	path = external/cuda_benchmark
	url = https://github.com/senior-zero/cuda_benchmark.git
[submodule "external/int_fastdiv"]
	path = external/int_fastdiv
	url = https://github.com/milakov/int_fastdiv.git
